@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,500;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("images/background.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  color: #fff;
}
.clock {
  padding: 1rem;
  color: #fff;
}

.container h1,
.clock h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.4rem #111;
}

.clock p {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.4rem #111;
}
.button {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.4rem #111;
  cursor: pointer;
  margin-bottom: 4rem;
}
.button:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media screen and (max-width: 680px) {
  .container h1,
  .clock h1 {
    font-size: 3rem;
  }

  .clock p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 520px) {
  .container h1,
  .clock h1 {
    font-size: 2.4rem;
  }

  .clock p {
    font-size: 1.2rem;
  }
  .button {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 380px) {
  .container h1,
  .clock h1 {
    font-size: 2rem;
  }

  .clock p {
    font-size: 1rem;
  }
  .button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
